Source: ros-groovy-p2os-msgs
Section: misc
Priority: extra
Maintainer: Hunter Allen <allen286@purdue.edu>
Build-Depends: debhelper (>= 9.0.0), ros-groovy-catkin, ros-groovy-message-generation, ros-groovy-std-msgs
Homepage: http://ros.org/wiki/p2os_msgs
Standards-Version: 3.9.2

Package: ros-groovy-p2os-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-message-runtime, ros-groovy-std-msgs
Description: Defines the messages that are used to communicate with the p2os_driver package and the ROS infrastructure.
